.quote {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 75px;
}

.figure {
  margin-top: 50px;
}

.quote1 {
  font-size: 96px;
  display: inline;
  position: relative;
  right: 15px;
  top: 20px;
}
.quote2 {
  font-size: 96px;
  display: inline;
  position: relative;
  left: 15px;
  top: 80px;
}